@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.varela-round {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
}
.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
}
.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
}
.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.nav-btn {
  @apply flex hover:bg-gray-200 dark:hover:bg-gray-800 items-center ps-3 pe-3;
}
.nav-btn-svg {
  @apply size-6 text-gray-700 dark:text-white;
}
.nav-btn-text {
  @apply text-gray-700 dark:text-gray-300 text-2xl ms-3;
}

.bg-gray-custom {
  @apply bg-gray-200 dark:bg-[#1b1919];
}

/* text styling */
.text-default {
  @apply text-gray-900 dark:text-gray-50;
}

.text-default-600 {
  @apply text-gray-900 dark:text-gray-500;
}

.text-default-700 {
  @apply text-gray-600 dark:text-gray-500;
}

.text-default-800 {
  @apply text-gray-500;
}

body {
  @apply montserrat-semibold bg-gray-100 dark:bg-[#151515] m-0 p-0;
}

.shadow-theme-toggler {
  @apply shadow-lg shadow-slate-900/30 dark:shadow-slate-900/50;
}

@media (max-width: 1023px) {
  .subs-avatar-w {
    width: 12%;
  }

  .inactive- {
    border-left: 2px solid darkgray;
  }

  .active- {
    border-left: 2px solid darkcyan;
  }

  .inactive-bn {
    @apply absolute inset-x-0 bottom-0 mx-auto w-2/3 border-b mt-1;
    border-bottom-color: darkgrey;
    border-bottom-width: 2px;
    top: 100%;
  }
  .active-bn {
    @apply absolute inset-x-0 bottom-0 mx-auto w-2/3 border-b mt-1;
    border-bottom-color: darkcyan;
    border-bottom-width: 2px;
    top: 100%;
  }

  .container-border {
    @apply overflow-x-hidden bg-gray-100 dark:bg-[#222];
  }

  .shadow {
  }
}
@media (min-width: 1024px) {
  .subs-avatar-w {
    width: 16%;
  }

  .inactive {
    border-left: 2px solid darkgrey;
  }
  .active {
    border-left: 2px solid darkcyan;
  }

  .container-border {
    @apply container bg-gray-100 dark:bg-[#222] border-x-[15px] border-b-[15px] border-gray-100 dark:border-[#151515];
  }

  .shadow {
    @apply shadow-xl shadow-slate-500/30 dark:shadow-cyan-500/50;
  }
}

.active-tab {
  @apply border-b border-slate-900 dark:border-gray-300 hover:border-slate-950 dark:hover:border-gray-400 mb-1;
}

.loader {
  width: 30px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: -6px 0 0 -6px;
  width: 12px;
  aspect-ratio: 1;
  background: #3fb8af;
  animation:
    l2-1 2s infinite,
    l2-2 1s infinite;
}
.loader:after {
  background: #ff3d7f;
  animation-delay: -1s, 0s;
}
@keyframes l2-1 {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 100%;
    left: 0;
  }
  50% {
    top: 100%;
    left: 100%;
  }
  75% {
    top: 0;
    left: 100%;
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes l2-2 {
  40%,
  50% {
    transform: rotate(0.25turn) scale(0.5);
  }
  100% {
    transform: rotate(0.5turn) scale(1);
  }
}

.btn {
  @apply py-1 w-full px-3 uppercase font-semibold rounded border border-transparent transition-all duration-300 poppins;
}
.btn-no-w {
  @apply py-1 px-3 uppercase font-semibold rounded border border-transparent transition-all duration-300 poppins;
}

.btn-green {
  @apply text-gray-300 bg-emerald-700 disabled:bg-emerald-800 disabled:text-gray-500;
}
.btn-green-hover {
  @apply hover:bg-emerald-800 hover:border hover:border-emerald-800;
}

.btn-follow {
  @apply px-2 py-1 text-white font-semibold text-sm rounded block text-center;
}

.btn-svg {
  @apply size-5 cursor-pointer;
}

.header-3xl {
  @apply text-3xl text-center text-gray-700 dark:text-gray-300 font-semibold;
}
.header-2xl {
  @apply text-2xl text-center text-gray-700 dark:text-gray-300 font-semibold mb-1;
}
.header-xl {
  @apply text-xl text-center text-gray-700 dark:text-gray-300 font-semibold mb-1;
}
.header-transition {
  @apply transition-all duration-300 hover:text-slate-950 dark:hover:text-gray-400;
}

.hw-centered {
  @apply h-screen items-center flex justify-center;
}

.card {
  @apply border border-gray-300 dark:border-transparent rounded-2xl bg-gray-100 dark:bg-[#222];
}

.form-label {
  @apply ms-1 text-gray-700 dark:text-slate-400;
}
.form-input {
  @apply my-1 text-gray-700 dark:text-gray-400 bg-gray-custom w-full px-5 py-1 transition-all duration-100 border;
  @apply border-gray-300 dark:border-transparent rounded;
}
.form-error-label {
  @apply p-1 text-red-600;
}
.form-textarea {
  @apply p-2.5 ms-3 -mr-10 w-10/12 text-lg text-gray-700 transition-all duration-100;
  @apply dark:text-gray-400 rounded-lg border border-gray-300 dark:border-transparent outline-none dark:bg-[#161616] bg-gray-200;
}

.footer-links {
  @apply mt-10 text-sm w-full left-1/2 text-gray-500;
}

.link {
  @apply text-blue-600 hover:border-b hover:border-blue-600;
}
